@model Model.Applicant

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/form/form.css" rel="stylesheet" />
<script src="~/Content/form/forms.js"></script>
<div class="form">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>Solicitar cartão</h4>
        <hr/>
        <div class="row ">
            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "control-label col-md-12" })
                    </div>
                    <div class="col-md-12" name="Education">
                        <select class="mdb-select md-form" name="Education">
                            <option value="1">Base</option>
                            <option value="2">Medio</option>
                            <option value="3">Tecnico</option>
                            <option value="4">Superior</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Housing, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="mdb-select md-form" name="Housing">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Housing, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Loan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="mdb-select md-form" name="Loan">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Loan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmpRateVar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="mdb-select md-form" name="Education">
                            <option value="-3.4">Não assinada</option>
                            <option value="-0.1">Até 6 meses</option>
                            <option value="1.1">Menor de 1 ano</option>
                            <option value="1.4">Enter 1 a 2 anos</option>
                            <option value="4">Superior</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.EmpRateVar, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConsConfId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConsConfId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConsConfId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>
    }
</div>
